@inherits LayoutComponentBase

<PageTitle>Product Catalog</PageTitle>

<Header />
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <NavMenu />
        </div>
        <div class="col">
            @Body
        </div>
    </div>
</div>
<Footer />
