@using Microsoft.Extensions.Localization
@inject IStringLocalizer<ProductCatalog.Blazor.Resources.SharedResources> Loc

<nav class="nav flex-column p-3">
    <h5 class="text-primary">Product Catalog</h5>

    <NavLink href="" Match="NavLinkMatch.All" class="nav-link">Home</NavLink>
    <NavLink href="/products" class="nav-link">@Loc["Products"]</NavLink>
    <NavLink href="/categories" class="nav-link">@Loc["Categories"]</NavLink>

    <LanguageSelector />
</nav>
